:root {
	--primerazul: #0443ba;
	--segundoazul: #043289;
	--azuloscuro: #002364;
	--naranja: #ff9a16;
	--oscuro: #001742;
	--grisoscuro: #141414;
	--gris: #9b9b9b;
	--plata: #bababa;
	--fontuno: 'Montserrat', sans-serif;
	--fontdos: 'Poppins', sans-serif;
}

@font-face {
	font-family: 'fm_awesome';
	font-style: normal;
	font-weight: 300;
	src: url(./Fonts/fa-light-300.eot);
	src: url(./Fonts/fa-light-300.eot?#iefix) format('embedded-opentype'),
		url(./Fonts/fa-light-300.woff2) format('woff2'),
		url(./Fonts/fa-light-300.woff) format('woff'),
		url(./Fonts/fa-light-300.ttf) format('truetype'),
		url(./Fonts/fa-light-300.svg) format('svg');
	font-display: swap;
}

/* ===================================
  1. Global CSS
====================================== */

* {
	color: inherit;
	outline: #fff solid 0;
}

:focus {
	outline: #fff solid 0;
}

#root {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: var(--grisoscuro);
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 500;
	color: var(--gris);
	background-color: var(--grisoscuro);
	margin: 0;
}

body a {
	text-decoration: none;
	color: var(--azul);
	transition: color 0.2s linear;
}

body a:hover,
body a:focus {
	color: var(--naranja);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.1em;
	margin-bottom: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h1 span {
	font-size: 70px;
}

h2,
h2 span {
	font-size: 55px;
}

h3,
h3 span {
	font-size: 48px;
}

h4,
h4 span {
	font-size: 42px;
}

h5,
h5 span {
	font-size: 36px;
}

h6,
h6 span {
	font-size: 32px;
}

a,
li,
span {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	margin-bottom: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.home-body,
.all-body {
	position: relative;
	z-index: 1;
}

.box-wrapper,
section {
	width: 90%;
	margin: 0 auto;
	display: block;
	padding: 70px 0;
}

button {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding: 10px 30px;
	background-color: var(--primerazul);
	border: 2px solid var(--primerazul);
	display: inline-flex;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

button:hover {
	color: var(--primerazul);
	background-color: #fff;
	border: 2px solid var(--primerazul);
	display: inline-flex;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.apollo-button {
	color: #fff;
	background-color: var(--primerazul);
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0);
	padding: 10px 30px;
	transition: all 0.5s ease-out;
}

.apollo-button:hover {
	color: var(--oscuro);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	background-color: #fff;
	transition: all 0.3s ease-in;
}

.apollo-white-button {
	color: var(--primerazul);
	background-color: #fff;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	padding: 20px 50px;
	transition: all 0.5s ease-out;
}

.apollo-white-button:hover {
	color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0);
	text-transform: uppercase;
	background-color: var(--oscuro);
	transition: all 0.3s ease-in;
}

#tsparticles {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.image-container {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 100%;
	position: relative;
}
#free-solo-2-demo{
	border: 1px solid #fff;
  border-radius: 5px;
  min-width: 150px;
  color: #fff !important;
	padding: 5px 10px 6px 10px;
}
#free-solo-2-demo-label{
	color:rgba(255,255,255,.5);
	padding-left:5px;
}

#free-solo-3-demo{
	border: 0px;
	border-bottom: 1px solid #9b9b9b;
  border-radius: 0px;
  min-width: 200px;
  color: #fff !important;
	padding: 5px 10px 6px 10px;
	margin-left: -5px;
	margin-bottom: 20px;
}
#free-solo-3-demo-label{
	color:#9b9b9b;
	padding-left:0px;
}
.free-solo-search-box{
	display: flex;
	flex-direction: row;
	width:100%;
}
.free-solo-search-box svg{
	padding-top: 20px;
padding-right: 10px;
}
.free-solo-search-box fieldset, .navigation fieldset{
	border:0px;
}


.folder1385 #panel3bh-header, .folder1385 #panel4bh-header, .folder1385 #panel6bh-header, .folder1385 #panel7bh-header, .folder1385 #panel8bh-header, .folder1385 #panel9bh-header, .folder1385 #panel10bh-header, .folder1385 #panel11bh-header, .folder1385 #panel12bh-header, .folder1385 #panel13bh-header, .folder1385 #panel14bh-header, .folder1385 #panel15bh-header {
	display:none;
}

.folder11619 #panel2bh-header, .folder11619 #panel3bh-header, .folder11619 #panel4bh-header, .folder11619 #panel5bh-header, .folder11619 #panel6bh-header, .folder11619 #panel7bh-header, .folder11619 #panel8bh-header, .folder11619 #panel9bh-header, .folder11619 #panel10bh-header, .folder11619 #panel11bh-header, .folder11619 #panel12bh-header, .folder11619 #panel13bh-header, .folder11619 #panel14bh-header, .folder11619 #panel15bh-header {
	display:none;
}

.folder1381 #panel1bh-header, .folder1381 #panel6bh-header, .folder1381 #panel7bh-header, .folder1381 #panel14bh-header, .folder1381 #panel15bh-header{
	display:none;
}
.folder1383 #panel10bh-header, .folder1383 #panel14bh-header, .folder1383 #panel15bh-header{
	display:none;
}
.folder1382 #panel1bh-header, .folder1382 #panel10bh-header, .folder1382 #panel7bh-header, .folder1382 #panel8bh-header, .folder1382 #panel13bh-header{
	display:none;
}
.folder1490 #panel1bh-header, .folder1490 #panel10bh-header, .folder1490 #panel7bh-header, .folder1490 #panel8bh-header, .folder1490 #panel3bh-header, .folder1490 #panel5bh-header, .folder1490 #panel13bh-header{
	display:none;
}
.folder11652 #panel5bh-header, .folder11652 #panel7bh-header, .folder11652 #panel8bh-header, .folder11652 #panel10bh-header{
	display:none;
}
.folder11655 #panel5bh-header, .folder11655 #panel7bh-header, .folder11655 #panel8bh-header, .folder11655 #panel10bh-header{
	display:none;
}
.folder11666 #panel5bh-header, .folder11666 #panel7bh-header, .folder11666 #panel8bh-header, .folder11666 #panel10bh-header{
	display:none;
}
.folder1494 #panel5bh-header, .folder1494 #panel7bh-header, .folder1494 #panel8bh-header, .folder1494 #panel10bh-header{
	display:none;
}

@media screen and (max-width: 1200px) {
	h1,
	h1 span {
		font-size: 60px;
	}

	h2,
	h2 span {
		font-size: 52px;
	}

	h3,
	h3 span {
		font-size: 44px;
	}

	h4,
	h4 span {
		font-size: 38px;
	}

	h5,
	h5 span {
		font-size: 32px;
	}

	h6,
	h6 span {
		font-size: 28px;
	}
}

@media screen and (max-width: 1024px) {
	h1,
	h1 span {
		font-size: 56px;
	}

	h2,
	h2 span {
		font-size: 48px;
	}

	h3,
	h3 span {
		font-size: 40px;
	}

	h4,
	h4 span {
		font-size: 34px;
	}

	h5,
	h5 span {
		font-size: 30px;
	}

	h6,
	h6 span {
		font-size: 26px;
	}
}

@media screen and (max-width: 959px) {
	h1,
	h1 span {
		font-size: 50px;
	}

	h2,
	h2 span {
		font-size: 44px;
	}

	h3,
	h3 span {
		font-size: 36px;
	}

	h4,
	h4 span {
		font-size: 30px;
	}

	h5,
	h5 span {
		font-size: 26px;
	}

	h6,
	h6 span {
		font-size: 22px;
	}

	section {
		width: 85%;
	}
}

@media screen and (max-width: 600px) {
	h1,
	h1 span {
		font-size: 45px;
	}

	h2,
	h2 span {
		font-size: 40px;
	}

	h3,
	h3 span {
		font-size: 32px;
	}

	h4,
	h4 span {
		font-size: 26px;
	}

	h5,
	h5 span {
		font-size: 22px;
	}

	h6,
	h6 span {
		font-size: 20px;
	}

	body,
	p {
		font-size: 14px;
	}
}

@media screen and (max-width: 414px) {
	h1,
	h1 span {
		font-size: 8.5vw;
	}

	h2,
	h2 span {
		font-size: 36px;
	}

	h3,
	h3 span {
		font-size: 28px;
	}

	h4,
	h4 span {
		font-size: 22px;
	}

	h5,
	h5 span {
		font-size: 20px;
	}

	h6,
	h6 span {
		font-size: 18px;
	}
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25% !important;
	height: 0;
	margin: 30px 0;
	background-color: #fff;
}

.iframe-container iframe {
	position: absolute;
	top: 0 !important;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.section-divider {
	display: block;
	width: 100%;
	height: 5px;
	background-color: #141414;
}

/* ===================================
  2. Header and main menu
====================================== */
.top-bar {
	background-color: var(--oscuro);
	position: relative;
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	position:fixed;
	top:0;
	width:100%;
}

.logo-container {
	padding: 20px 25px;
	display: flex;
}

.logo-container a {
	display: block;
	width: auto;
	position: relative;
}

.logo-container img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 235px;
	position: relative;
}

.featured-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
	display: flex;
	height: 100%;
	width: 25%;
}

.btn-1 button,
.btn-2 button,
.btn-3 button,
.btn-4 button {
	color: #fff;
	width: 100%;
	font-family: var(--fontuno);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
	transition: all 0.7s ease;
}

.btn-1 {
	background-color: var(--primerazul);
	box-shadow: -2px 0 15px rgba(0, 0, 0, 0.95);
	transition: all 0.7s ease;
}

.btn-2 {
	background-color: var(--segundoazul);
	box-shadow: -2px 0 15px rgba(0, 0, 0, 0.95);
	transition: all 0.7s ease;
}

.btn-3 {
	background-color: var(--azuloscuro);
	box-shadow: -2px 0 15px rgba(0, 0, 0, 0.95);
	transition: all 0.7s ease;
}

.btn-4 {
	background-color: var(--oscuro);
	box-shadow: -2px 0 15px rgba(0, 0, 0, 0.95);
	transition: all 0.7s ease;
}

.btn-1 button:hover,
.btn-2 button:hover,
.btn-3 button:hover,
.btn-4 button:hover {
	color: var(--oscuro);
	background-color: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
	border: none;
	transition: all 0.3s ease;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	height: 70px;
	width: 90%;
	padding: 15px 5%;
}

.navigation-item {
	color: #fff;
	font-size: 12px;
	text-align: center;
	font-family: var(--fontuno);
	text-transform: uppercase;
	font-weight: 500;
	padding: 0 7px;
	display: block;
	white-space: pre;
}

.nav-active {
	display: block;
	position: relative;
}

.nav-active::after {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background-color: #fff;
}

/* Inquiry link */
.inquiry-widget {
	position: absolute;
	bottom: -38px;
	right: 0;
	background-color: var(--azuloscuro);
	z-index: -1;
}

.inquiry-widget p {
	margin-bottom: 0;
	font-size: 12px;
	padding: 10px;
	text-align: center;
}

.inquiry-widget p span {
	font-weight: 800;
	color: #fff;
}

/* Social Networks */
.social-networks {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	left: 25px;
	height: 150px;
	bottom: -200px;
	z-index: 99;
}

.social-networks a {
	color: #fff;
	transition: color 0.5s ease-out;
}

.social-networks a:hover {
	color: var(--naranja);
	transition: color 0.3s ease-in;
}

.social-networks svg {
	font-size: 20px;
	margin: 10px auto;
}
.no-product{
	padding-top:200px;
	padding-bottom: 100px;
}
.search-body #tsparticles{
	display: none;
}
.no-product p{
	font-size: 1.5em;
}
.home-cta-boxes section, .products-block section{
	padding-top:0px;
}
.about-top section{
	padding-bottom: 30px;
	padding-top: 150px;
}
.full-flex{
	display: flex;
  flex-direction: row;
  align-items: start;
}
.half-flex{
	display: flex;
	flex-direction: column;
	padding-right: 20px;
}
.half-flex h6{
	font-size: 18px;
  margin-bottom: 0px;
	margin-top:10px;
}
.half-flex h6 br{
	display: none;
}
.half-flex ul{
	padding-left: 0px;
    list-style: none;
    margin: 10px 0px;
}

@media only screen and (max-width: 1110px) {
	.logo-container img {
		width: 100%;
		height: auto;
		max-width: 225px;
	}

	.btn-1 button,
	.btn-2 button,
	.btn-3 button,
	.navigation-item {
		font-size: 14px;
	}
}

@media only screen and (max-width: 959px) {
	.logo-container img {
		width: 100%;
		height: auto;
		max-width: 225px;
	}

	.all-body{
		padding-top: 100px;
	}

	.featured-buttons {
		min-height: 50px;
		padding: 0;
		justify-content: flex-end;
	}

	.navigation {
		height: 70px;
		padding: 1% 5%;
		justify-content: center;
		background-color: var(--grisoscuro);
	}

	.btn-1 button,
	.btn-2 button,
	.btn-3 button,
	.btn-4 button,
	.navigation-item {
		font-size: 14px;
	}
}

@media only screen and (max-width: 599px) {
	.logo-container {
		justify-content: center;
	}

	.featured-buttons {
		padding: 0;
		justify-content: flex-end;
	}

	.navigation {
		height: 70px;
		justify-content: center;
		background-color: var(--grisoscuro);
	}

	.btn-1,
	.btn-2,
	.btn-3,
	.btn-4 {
		height: 70px;
		max-width: 25%;
	}

	.btn-1 button,
	.btn-2 button,
	.btn-3 button,
	.btn-4 button,
	.navigation-item {
		font-size: 12px;
	}
}
@media only screen and (max-width:479px){
	.home-body, .all-body{
		padding-top: 150px;
	}
}

@media only screen and (max-width: 470px) {
.navigation{
	padding-top: 5%;
	padding-bottom: 5%;
}
.navigation>div{
	margin-top: 10px;
}
.lp-item-container{
	overflow: hidden;
}
.prod-detailes-preview{
	display: none;
}
.prod-actions-click br{
	display: none;
}
.prod-actions-click svg{
	margin-bottom: 15px;
}
}

@media only screen and (max-width: 414px) {
	.inquiry-widget {
		width: 100%;
		text-align: center8;
	}
}

@media only screen and (max-width: 349px) {
	.featured-buttons {
		flex-direction: column;
	}

	.home-body, .all-body{
		padding-top: 260px;
	}

	.btn-1,
	.btn-2,
	.btn-3,
	.btn-4 {
		height: 40px;
		width: 100%;
		max-width: 100%;
	}

	.logo-container img{
		max-width:150px;
	}

	.navigation-item {
		font-size: 12px;
		padding: 0 3px;
	}
}

/* ===================================
    3. Loader Spinner
====================================== */
.sk-circle {
	margin: 25vh auto;
	width: 40px;
	height: 40px;
	position: relative;
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-circleBounceDelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* ===================================
    4. Paralax Styling
====================================== */
.about-home {
	position: relative;
	height: 100%;
}

.about-home section {
	position: relative;
	z-index: 2;
}

.img-bg-container {
	position: absolute;
	display: flex;
	height: 100%;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

#half-one {
	position: absolute;
	right: 475px;
	top: 50%;
	z-index: -1;
}

#half-two {
	position: absolute;
	right: 25px;
	top: -50%;
	z-index: -1;
}

.about-top section {
	position: relative;
	z-index: 2;
}

@media only screen and (max-width: 959px) {
	.about-home {
		min-height: 500px;
	}

	#half-one {
		right: 340px;
		width: 300px;
		height: auto;
	}

	#half-two {
		width: 300px;
		height: auto;
	}
}

@media only screen and (max-width: 768px) {
	.about-home {
		min-height: 440px;
	}
.social-networks {
	display:none;
}

	#half-one {
		right: 290px;
		width: 250px;
		top: 60%;
		height: auto;
	}

	#half-two {
		width: 250px;
		top: 0%;
		height: auto;
	}
}

@media only screen and (max-width: 600px) {
	.about-home {
		min-height: 400px;
	}

	#half-one {
		right: 250px;
		width: 210px;
		top: 40%;
		height: auto;
	}

	#half-two {
		width: 210px;
		top: -5%;
		height: auto;
	}
}

/* ===================================
    5. Newsletters block
====================================== */
.news-letters-block {
	background-color: var(--plata);
	position: relative;
	z-index: 1;
}

.nl-intro-container {
	margin-left: 30px;
	line-height: 1.1em;
}

.nl-intro-container h3 {
	color: #fff;
	font-size: 42px;
	position: relative;
	margin-bottom: 30px;
}

.nl-intro-container h3::before {
	content: '';
	display: block;
	position: absolute;
	background-color: var(--segundoazul);
	left: -30px;
	width: 7px;
	height: 100%;
}

.nl-intro-container h6 {
	font-size: 18px;
	line-height: 1.2em;
	color: var(--grisoscuro);
	font-weight: 400;
	margin-bottom: 30px;
}

.nl-intro-container small {
	color: var(--oscuro);
	line-height: 1.1em;
}

.blue-separator {
	display: block;
	height: 90px;
	width: 10px;
	margin: 0 20px;
	background-color: var(--primerazul);
}

.news-letters-block .blue-separator {
	display: flex;
	width: 10px;
	margin: 0 auto;
	height: 100% !important;
}

.text-field-group {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 30px;
}

.tfg-icon {
	display: flex;
	position: absolute;
	left: 8px;
}

.tfg-icon svg {
	color: var(--azuloscuro);
	margin-top: 15px;
	font-size: 20px;
	z-index: 2;
}

.tfg-input {
	width: 100%;
}

.tfg-input input,
.tfg-input textarea {
	padding-left: 45px;
	font-family: 'Poppins', sans-serif !important;
}

.tfg-input input:-internal-autofill-selected {
	background-color: transparent !important;
	appearance: none;
}

.tfg-input label {
	font-family: 'Montserrat', sans-serif !important;
	color: #001742;
	padding-left: 45px;
}

@media screen and (max-width: 959px) {
	.blue-separator {
		transform: rotate(90deg);
	}

	.news-letters-block .blue-separator {
		width: 50%;
		min-height: 10px;
		margin: 0;
		height: 100% !important;
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 600px) {
	.blue-separator {
		transform: rotate(90deg);
	}
	.news-letters-block .blue-separator {
		transform: none;
	}
}

/* ===================================
    6. Global Footer styling
====================================== */
footer {
	position: relative;
	z-index: 1;
}

.phone-container {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
	font-weight: 300;
}

.phone-container svg {
	font-size: 30px;
	margin-right: 10px;
}

.phone-container a,
.phone-container .fax {
	color: #fff;
	font-weight: 600;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation-ft {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 70px;
	width: 90%;
	padding: 15px 5%;
}

.navigation-ft .navigation-item {
	border: none;
	border-right: 3px solid var(--primerazul);
	background-color: transparent;
	transition: all 0.5s ease-out;
}

.navigation-ft .navigation-item:last-child {
	border: none;
}

.navigation-ft .navigation-item:hover {
	color: var(--naranja);
	background-color: transparent;
	transition: all 0.3s ease-in;
}

.footer-nav p {
	text-transform: uppercase;
}

.footer-logo {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.footer-logo img {
	max-width: 180px;
	height: auto;
}

.ft-social-networks {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

.ft-social-networks a {
	color: #fff;
	transition: color 0.5s ease-out;
}

.ft-social-networks a:hover {
	color: var(--naranja);
	transition: color 0.3s ease-in;
}

.ft-social-networks svg {
	font-size: 16px;
	margin: auto 15px;
}

.credit-bar {
	display: flex;
	justify-content: center;
}

.credit-bar .ft-credits:first-child {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.ft-credits {
	text-align: center;
	font-size: 12px;
	font-weight: 300;
}

.ft-credits a {
	font-weight: 700;
}

@media screen and (max-width: 959px) {
	.col-footer-1 {
		order: 1;
	}
	.col-footer-2 {
		order: 3;
	}
	.col-footer-3 {
		order: 2;
	}
}

@media screen and (max-width: 600px) {
	.col-footer-1 {
		order: 2;
	}
	.col-footer-2 {
		order: 3;
	}
	.col-footer-3 {
		order: 1;
	}

	.footer-logo,
	.ft-social-networks {
		justify-content: center;
	}

	.phone-container {
		justify-content: center;
	}

	.navigation-ft .navigation-item {
		border: none;
		transition: all 0.5s ease-out;
	}

	.credit-bar {
		flex-direction: column;
	}

	.credit-bar .ft-credits:first-child {
		margin-right: 0;
		padding-right: 0;
		border-right: none;
	}
}

/* ===================================
    7. Extras and other globals
====================================== */
.not-found {
	text-align: center;
}

.not-found section {
	position: relative;
	z-index: 1;
}

.message {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: auto;
	top: 20px;
	right: 20px;
	padding: 20px 30px;
	text-align: center;
	transform: translateY(-300px);
	opacity: 0;
	z-index: 999;
	background-color: var(--primerazul);
	transition: all 0.5s ease-in;
}

.message p {
	color: #fff;
	margin: auto;
}

.message a {
	border: 1px solid var(--gris);
	margin: 10px auto;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 15px;
	color: #fff;
}

.show-message {
	transform: translateY(0px);
	opacity: 1;
	transition: all 0.5s ease-out;
}

/* ===================================
    8. Inquiry Form section
====================================== */

.dark-blue-bg {
	color: #fff;
	background-color: var(--oscuro);
}

.dark-blue-bg p,
.dark-blue-bg svg,
.dark-blue-bg .product-inquiry-list {
	color: #fff;
}

.dark-blue-bg .text-field-group {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 30px;
}

.dark-blue-bg .tfg-icon {
	display: flex;
	position: absolute;
	left: 8px;
}

.dark-blue-bg .MuiInputBase-root {
	color: #fff;
}

.dark-blue-bg .tfg-icon svg {
	color: var(--gris);
	margin-top: 15px;
	font-size: 20px;
	z-index: 2;
}

.dark-blue-bg .MuiInput-underline:before {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.dark-blue-bg .tfg-input label {
	font-family: 'Montserrat', sans-serif !important;
	color: #fff;
	padding-left: 45px;
}

.dark-blue-bg .text-field-group:nth-child(4) {
	align-items: flex-start;
}

.dark-blue-bg .text-field-group:nth-child(4) .tfg-icon {
	margin-top: 8px;
}

.dark-blue-bg .MuiInput-underline:hover:not(.Mui-disabled):before {
	border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

.dark-blue-bg .MuiInput-underline::after {
	border-bottom: 2px solid var(--naranja);
}

.product-inquire-list label,
.product-inquire-list label span {
	font-family: 'Montserrat', sans-serif !important;
}

.product-inquire-list {
	margin-top: 70px;
}

.product-inquire-list ul {
	list-style: none;
	padding-left: 0;
}

/* Optical Bonding Page Accordion Start */

input.optical-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabs-optical {
  overflow: hidden;
	display: flex;
flex-direction: column;
}

.tab-optical {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 30px;
	display: flex;
  flex-direction: column;
}
.tab-optical-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #0443BA;
  font-weight: bold;
  cursor: pointer;
	font-size: 1.2em;
  /* Icon */
}
.tab-optical-label:hover {
  background: #001742;
}
.tab-optical-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-optical-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
	visibility: hidden;
}
.tab-optical-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-optical-close:hover {
  background: #1a252f;
}

input.optical-input:checked + .tab-optical-label {
  background: #1a252f;
}
input.optical-input:checked + .tab-optical-label::after {
  transform: rotate(90deg);
}
input.optical-input:checked ~ .tab-optical-content {
  max-height: 100vh;
  padding: 1em;
	visibility: visible;
}

/* Optical Bonding Page Accordion End */
